.titleBox {
  width: 40%;
  height: 120px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-around;

  opacity: 0;
  transition: opacity 0.0s 1000ms ease-in-out;


    &.visible {
        opacity: 1; 
    }

  .titleInHeader {
    font-size: 100px;
    font-family: "General Sans", sans-serif;
    font-weight: 100;
    color: white;
  }

  .line {
    width: 0px;
    height: 1px;
    
    background-color: white;

    &.deployed {
      animation: appearingLines 0.5s forwards ease-in-out;
    }
  }
}


@keyframes appearingLines {
  from { width: 0px;}
  to { width: 200px;} 
}