.canvas {
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    width: 60vh;
    height: 60vh;
}

@media(max-width: 470px) {
    .canvas {
        width: 45vh;
        height: 45vh;
    }
}

.shadowed {
    transition: box-shadow 0.7s 450ms ease-in-out,
    filter 0.3s ease-in-out;
    box-shadow: white 10px 10px 18px;

    &:hover {
        filter: blur(10px);
    }
}

.title {
    color: white;
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "General Sans", sans-serif;
    font-weight: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.7s 650ms ease-in-out,
    top 1s ease-in-out 1000ms,
    font-size 1s ease-in-out 1000ms;
    
    &.visible {
        opacity: 1;
    }

    @media(max-width: 470px) {
        font-size: 100px;
    }
}

#transition {
    animation: turning 1s ease-in-out;
    box-shadow: none;
}

#transitionTitle {
    font-size: 100px;
    top: 100px;
}


@keyframes turning {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}