.canvas {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  width: 60vh;
  height: 60vh;
}

@media (max-width: 470px) {
  .canvas {
    width: 45vh;
    height: 45vh;
  }
}

.shadowed {
  transition: box-shadow 0.7s 700ms ease-in-out, filter 0.3s ease-in-out;
  box-shadow: white 10px 10px 10px;

  &:hover {
    filter: blur(10px);
  }
}

#transition {
  animation: turning 1s ease-in-out;
  box-shadow: none;
}

@keyframes turning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
